.bc-user-comments {
	font-size: .95rem;
	.bc-user-comment {
		margin-bottom: 1em;
		img {
			border-radius: 15px 15px 0 15px;
			float: left;
			height: 35px;
			margin-left: -10px;
			margin-right: 5px;
			margin-top: -5px;
		}
		.bc-author {
			background: $bc-white-primary;
			font-size: .9em;
			padding: 2px 4px;
			margin-left: 5px;
		}
		.bc-date {
			float: right;
			font-size: .8em;
			line-height: 1.6em;
		}
		p {
			font-size: .9em;
			line-height: 1.2em;
			margin: 5px 5px 0 35px;
		}
	}
}
