
.bc-lift-1 {
	box-shadow: $bc-box-shadow-lift-1;
}

.bc-lift-2 {
  box-shadow: $bc-box-shadow-lift-2;
}

.bc-lift-3 {
  box-shadow: $bc-box-shadow-lift-3;
}

.bc-inset-1 {
	box-shadow: $bc-box-shadow-inset-1;
}

.bc-inset-2 {
  box-shadow: $bc-box-shadow-inset-2;
}

.bc-inset-3 {
  box-shadow: $bc-box-shadow-inset-3;
}
